<mat-form-field [ngClass]="{'mat-form-field-invalid': themesFA.invalid && themesFA.touched}"
                appearance="standard">
  <mat-label>Themes</mat-label>
  <mat-chip-list #chipList aria-label="Themes">
    <mat-chip (removed)="removeTheme(keywordIndex)"
              *ngFor="let themeFC of themesFA.controls; let keywordIndex=index"
              [removable]="true"
              [selectable]="true" class="chips">
      {{themeFC.value}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Ex. theme1, theme2..."
      #themeSearchInput
      (focus)="themesFA.markAsTouched()"
      [formControl]="themeSearchInputFC"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let theme of searchedThemes$ | async" [value]="theme.uri">
      {{theme.label}}
    </mat-option>
  </mat-autocomplete>
  <div *ngIf="themesFA.invalid && themesFA.touched" class="mat-error"
       style="font-size: 12px;position: absolute;bottom: -22px;"
  >This field is required!</div>
</mat-form-field>
