@import "../../variables";

:host ::ng-deep {
  .cardTitles {
    padding: 15px;
    background-color: transparent;
    color: $primary-color;
    font-weight: normal;
  }

  mat-card-title {
    font-size: 18px;
  }
}


#mainCard {
  margin: 50px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
}

