<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-card id="mainCard">
    <distribution-metadata #distributionMetadataEl></distribution-metadata>

    <distribution-access #distributionAccessEl></distribution-access>

    <distribution-upload #distributionUploadEl></distribution-upload>

    <button
      (click)="createDistribution({uploader: distributionUploadEl.uploader, metadata: distributionMetadataEl.distributionFormModel, access: distributionAccessEl.members})"
      color="primary" id="startButton" mat-raised-button
      style="margin-top: 40px; width: 100%; height: 40px"
      type="submit">
      Submit Distribution
      <mat-icon id="startIcon">cloud_upload</mat-icon>
    </button>
  </mat-card>
</div>
