<mat-card-title class="cardTitles" style="margin-top: 20px">
  <span>Distribution Access Rights</span>
</mat-card-title>

<mat-card-content style="margin: 10px 20px;">
  <div fxFlex fxLayout="column">
    <table #accessTable [dataSource]="membersDS" class="mat-elevation-z1" mat-table style="width: 100%;">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 30%"> Entity Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      Weight Column
      <ng-container matColumnDef="company_id">
        <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 30%"> Entity ID</th>
        <td *matCellDef="let element" mat-cell> {{element.entity_id}} </td>
      </ng-container>


      <ng-container matColumnDef="access">
        <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 30%"> Access Level</th>
        <td *matCellDef="let element" mat-cell> {{element.access}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 10%"> Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="removePolicyMember(element); accessTable.renderRows()" *ngIf="!element.not_removable"
                  aria-label="Delete" color="warn"
                  id="groupDelete" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumnsAccessPolicy" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumnsAccessPolicy;" mat-row></tr>
    </table>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px" style="margin-top: 30px">
      <mat-form-field fxFlex="30">
        <mat-label>Add Entity By</mat-label>
        <mat-select [(ngModel)]="searchOption">
          <mat-option *ngFor="let crit of searchCrit" [value]="crit.value">
            {{crit.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="accessForm" fxFlex="30">
        <mat-form-field fxFlex>
          <input [matAutocomplete]="autoGroup"
                 formControlName="groupCtrl"
                 matInput
                 placeholder="Search String"
                 required
                 type="text">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-option
              *ngFor="let opt of memberGroupOptions | filterByProperty:accessForm.get('groupCtrl').value:searchOption | filterUsedMemberGroups:members:triggerPipeUpdate"
              [value]="opt[searchOption]">{{opt[searchOption]}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <mat-form-field fxFlex="10">
        <mat-label>Access Right</mat-label>
        <mat-select [(ngModel)]="accessOption">
          <mat-option *ngFor="let crit of accessRights" [value]="crit">
            {{crit}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <button (click)="addNewPolicyMember(); accessTable.renderRows();" color="accent" mat-flat-button
                style="position: relative; bottom: 2px;">
          Add a new member
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
