<mat-card-title class="cardTitles">
  <span>Distribution Metadata</span>
</mat-card-title>

<mat-card-content style="margin: 10px 20px">
  <form #heroForm="ngForm" class="distribution-form" name="distributionForm">
    <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
      <div fxFlex="50" fxLayout="column">
        <mat-form-field>
          <input [(ngModel)]="distributionFormModel.title" matInput name="title" placeholder="Distribution Title"
                 required type="text">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="distributionFormModel.description" matInput name="desc"
                 placeholder="Distribution Description" required type="text">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="distributionFormModel.version" matInput name="vers"
                 placeholder="Distribution Version"
                 required type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Distribution Language</mat-label>
          <mat-select [(ngModel)]="distributionFormModel.language" name="lang">
            <mat-option *ngFor="let country of countries"
                        [value]="country.alpha2">{{country.English}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="licenseField">
          <mat-label>Distribution License</mat-label>
          <mat-select [(ngModel)]="distributionFormModel.license" name="lic">
            <mat-option *ngFor="let license of licenses"
                        [value]="license.url">{{license.title || license.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxLayout="column">
        <mat-form-field>
          <mat-label>Dataset</mat-label>
          <mat-select [(ngModel)]="distributionFormModel.dataset" name="ds">
            <mat-option (onSelectionChange)="chooseCatalog(dataset,$event)" *ngFor="let dataset of filteredDatasets"
                        [value]="dataset.dataset_id">{{dataset.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Catalog</mat-label>
          <mat-select [(ngModel)]="distributionFormModel.catalog" name="cat">
            <mat-option *ngFor="let catalog of filteredCatalogs"
                        [value]="catalog.catalog_id">{{catalog.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex></div>
        <div fxLayout="row" fxLayoutGap="20px" style="margin: 20px 0;">
          <button (click)="openDataset()" color="accent" fxFlex="50" mat-raised-button
                  style="font-weight: normal;">ADD DATASET
            <mat-icon>widgets</mat-icon>
          </button>
          <button (click)="openCatalog()" color="accent" fxFlex="50" mat-raised-button
                  style="font-weight: normal;">ADD CATALOG
            <mat-icon>folder_shared</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card-content>
