#uploadDiv {
  margin-top: 20px;
  margin-bottom: 30px;
}

.nv-file-over {
  border: dotted 3px #009abc;
}

.my-drop-zone {
  border: dotted 3px #303f97;
  min-height: 100px;
  min-width: 200px;
  margin-bottom: 30px;
  margin-top: 10px
}
