<mat-card-title class="cardTitles" style="margin-top: 20px">
  <span>Distribution Upload</span>
</mat-card-title>

<mat-card-content style="margin: 10px 10px">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="50px" id="uploadDiv">

    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-evenly start">

      <h3>Drag & Drop files</h3>

      <div (fileOver)="fileOverBase($event)" (onFileDrop)="uploadTable.renderRows()"
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           [uploader]="uploader"
           class="my-drop-zone"
           fxFlex
           fxLayout="column"
           fxLayoutAlign="center center"
           ng2FileDrop>
        <button aria-label="Example icon-button with a heart icon" color="primary" fxFlex mat-icon-button>
          <mat-icon>publish</mat-icon>
        </button>
      </div>
      <h3>Select files</h3>
      <button (click)="fileInput.click()" color="primary" mat-raised-button>
        Choose Multiple Files
        <mat-icon>attach_file</mat-icon>
        <input #fileInput (onFileSelected)="uploadTable.renderRows()" [uploader]="uploader" multiple
               ng2FileSelect style="display:none;" type="file"/>
      </button>
    </div>

    <div fxFlex="60" style="margin-bottom: 40px; width:100%">

      <h3>Upload queue</h3>
      <p style="margin-top: 30px; margin-bottom: 30px">Queue Length: {{ uploader?.queue?.length }}</p>

      <table #uploadTable [dataSource]="uploader.queue" [hidden]="!uploader?.queue?.length" class="mat-elevation-z1"
             mat-table style="width:100%">
        <ng-container matColumnDef="name" style="width: 30%">
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef="let item" mat-cell> {{ item?.file?.name }} </td>
        </ng-container>
        <ng-container matColumnDef="size" style="width: 30%">
          <th *matHeaderCellDef mat-header-cell> Size</th>
          <td *matCellDef="let item" mat-cell> {{ item?.file?.size / 1024 / 1024 | number:'.2' }}MB</td>
        </ng-container>
        <ng-container matColumnDef="type" style="width: 30%">
          <th *matHeaderCellDef mat-header-cell> File Type</th>
          <td *matCellDef="let item" mat-cell> {{item?.file?.type}}</td>
        </ng-container>

        <ng-container matColumnDef="actions" style="width: 10%">
          <th *matHeaderCellDef mat-header-cell> Actions</th>
          <td *matCellDef="let item" mat-cell>
            <button (click)="item.remove(); uploadTable.renderRows()" color="warn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>


      <div *ngIf="uploader?.queue?.length" fxLayout="column">
        <div style="margin-top: 30px; margin-bottom: 30px">
          <p style="margin-bottom: 20px">Queue Progress</p>
          <mat-progress-bar [value]="uploader.progress" mode="determinate"></mat-progress-bar>
        </div>

        <div *ngIf="uploader?.queue?.length" fxLayout="row" fxLayoutAlign="space-between start">
          <button (click)="uploader.clearQueue(); uploadTable.renderRows()" [disabled]="uploader.queue.length <= 1"
                  color="warn"
                  mat-stroked-button>Remove all
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </div>
</mat-card-content>
