<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card id="mainCard">
    <mat-card-title class="cardTitles">Shared Data Overview</mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="statsCharts">
          <canvas #categoryCanvas></canvas>
        </div>
        <div class="statsCharts">
          <canvas #licenseCanvas></canvas>
        </div>
      </div>
    </mat-card-content>


    <mat-card-title class="cardTitles">Trending DataSets</mat-card-title>
    <mat-card-content id="secondCard">
      <div fxLayout="row wrap" fxLayoutAlign="center start">
        <dash-dataset-item *ngFor="let item of popularItems" [item]="item"></dash-dataset-item>
      </div>
    </mat-card-content>
  </mat-card>

</div>
