<div class="mainBackground" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <span fxFlex="20"></span>
  <form #heroForm="ngForm" (submit)="goHome()" fxLayout="column" fxLayoutGap="20px" name="loginForm">
    <div fxLayout="row" fxLayoutAlign="start center">
      <img alt="Icon" src="../assets/dash-3.png"/>
    </div>
    <p>Company Identifier</p>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="loginIcons">verified_user</mat-icon>
      <mat-form-field>
        <input [(ngModel)]="authFormModel.CIF" matInput name="idv" placeholder="VAT_ID or TIN" required type="text">
      </mat-form-field>
    </div>
    <p>Digital Certificate</p>
    <div>
      <td-file-upload #keyFileUpload (cancel)="clearKeyFile()" (select)="onKeyFileChange($event)"
                      defaultColor="accent"
                      fxFlex>
        <mat-icon>file_upload</mat-icon>
        <span> {{ keyFileUpload.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Choose Certificate
          </span>
        </ng-template>
      </td-file-upload>
    </div>
    <button [disabled]="!heroForm.form.valid || !authFormModel.certificate" color="accent" id="startButton"
            mat-raised-button
            type="submit">
      Sign In
      <mat-icon id="startIcon">vpn_key</mat-icon>
    </button>
  </form>
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: 20px;">
    <p class="text">Don't have an account?</p>
    <u><a (click)="goSignUp()" class="text">Create one now</a></u>
  </div>
  <span fxFlex="20"></span>
</div>
