@import "../variables";

.loginIcons {
  color: $accent-color;
  margin-right: 5px;
}

.text, h2, p {
  color: $accent-color-lighter;
}

:host ::ng-deep {

  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: $accent-color-lighter;
  }

  .mat-form-field-label {
    color: $accent-color-lighter;
  }

  input {
    color: $accent-color-lighter;
    caret-color: $accent-color;
  }

  .mat-focused {
    .mat-form-field-underline, .mat-form-field-ripple {
      background-color: $accent-color;
    }

    .mat-form-field-label {
      color: $accent-color;
    }
  }

}

td-file-upload ::ng-deep {
  > div {
    position: relative;
  }

  button.mat-raised-button {
    width: 100%;
  }

  button.td-file-upload-cancel {
    position: absolute;
    color: $accent-color-lighter;
    left: unset;
    right: -12px;
  }
}

#startButton {
  margin-top: 50px;
}
