<div class="mainBackground" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <span fxFlex="20"></span>
  <form #heroForm="ngForm" (submit)="goSignUp()" fxLayout="column" fxLayoutGap="20px" name="signUpForm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img alt="Icon" src="../assets/dash-3.png"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2>Sign Up</h2>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="margin-right: 40px">
        <mat-icon class="loginIcons">map</mat-icon>
        <mat-form-field class="register-select">
          <mat-label>Residence</mat-label>
          <mat-select (selectionChange)="changeRegion($event)" [(value)]="signFormModel.region">
            <mat-option *ngFor="let region of Region" value="{{region}}">{{region}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="signFormModel.region!=='US'" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="loginIcons">fingerprint</mat-icon>
        <mat-form-field>
          <input [(ngModel)]="signFormModel.company_id" matInput name="vadid" placeholder="VAT_ID" required
                 type="text">
        </mat-form-field>
      </div>
      <div *ngIf="signFormModel.region==='US'" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="loginIcons">fingerprint</mat-icon>
        <mat-form-field>
          <input [(ngModel)]="signFormModel.company_id" matInput name="tin" placeholder="TIN" required type="text">
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="margin-right: 40px">
        <mat-icon class="loginIcons">account_balance</mat-icon>
        <mat-form-field>
          <input [(ngModel)]="signFormModel.name" matInput name="compn" placeholder="Company Name" required type="text">
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="loginIcons">email</mat-icon>
        <mat-form-field>
          <input [(ngModel)]="signFormModel.email" matInput name="remail" placeholder="Representative Email" required
                 type="email">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="margin-right: 40px">
        <mat-icon class="loginIcons">category</mat-icon>
        <mat-form-field class="register-select">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="changeCategory($event)" [(value)]="signFormModel.category">
            <mat-option *ngFor="let category of Category" value="{{category}}">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="loginIcons">pin_drop</mat-icon>
        <mat-form-field>
          <input [(ngModel)]="signFormModel.address" matInput name="address" placeholder="Web Address" required
                 type="text">
        </mat-form-field>
      </div>
    </div>


    <p id="dig-header">Digital Certificate</p>
    <div id="cert-upl">
      <td-file-upload #keyFileUpload (cancel)="clearKeyFile()" (select)="onKeyFileChange($event)"
                      defaultColor="accent"
                      fxFlex>
        <mat-icon>file_upload</mat-icon>
        <span> {{ keyFileUpload.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Choose Certificate
          </span>
        </ng-template>
      </td-file-upload>
    </div>
    <button
      [disabled]="!signFormModel.category || !signFormModel.certificate || !signFormModel.name || !signFormModel.company_id || !signFormModel.region || !signFormModel.email || !signFormModel.address"
      color="accent" id="startButton" mat-raised-button
      type="submit">
      Sign Up
      <mat-icon id="startIcon">done_outline</mat-icon>
    </button>
  </form>
  <span fxFlex="20"></span>
</div>
