@import "../variables";

#mainCard {
  margin: 50px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
}

.cardTitles {
  padding: 15px;
  background-color: $primary-color;
  color: white;
  font-weight: lighter;
}

.statsCharts {

  position: relative;
  width: 45%;
  height: 300px;
  margin: 30px;
}

#secondCard {
  margin: 30px;
}

