<div class="back" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav (keydown.escape)="close()" mode="push">
      <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <img alt="Icon" src="../assets/dash-3.png"/>
        <h2>Menu</h2>
        <mat-nav-list>
          <!--          <mat-list-item (click)="close()" [routerLink]="['/home']" class="menuItems">-->
          <!--            <mat-icon matListIcon>trending_up</mat-icon>-->
          <!--            <a matLine>Latest Tendencies & Trending Datasets</a>-->
          <!--          </mat-list-item>-->
          <mat-list-item (click)="close()" [routerLink]="['/marketplace']" class="menuItems">
            <mat-icon matListIcon>store</mat-icon>
            <a matLine>MarketPlace</a>
          </mat-list-item>
          <mat-list-item (click)="close()" [routerLink]="['/datasets']" class="menuItems">
            <mat-icon matListIcon>build</mat-icon>
            <a matLine>Catalog & Dataset Management</a>
          </mat-list-item>
          <mat-list-item (click)="close()" [routerLink]="['/distribution']" class="menuItems">
            <mat-icon matListIcon>cloud_upload</mat-icon>
            <a matLine>Distribution Upload</a>
          </mat-list-item>
          <mat-list-item (click)="close()" [routerLink]="['/account']" class="menuItems">
            <mat-icon matListIcon>account_circle</mat-icon>
            <a matLine>Account & Groups Management</a>
          </mat-list-item>
        </mat-nav-list>
        <div fxFlex></div>
        <div fxLayout="column" fxLayoutAlign="end center" id="copyrightFooter">
          <p> 💙 DataShareFair Project 1.0.0. 💙</p>
          <p>© 2020 <a href="mailto:gcalancea@info.uaic.ro">Georgiana Calancea</a></p>
          <p>All rights reserved</p>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="mainToolbar">
        <mat-toolbar-row>
          <p>
            <button (click)="sidenav.toggle()" aria-label="Menu" mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
          </p>
          <span style="text-transform: capitalize;">{{$router.url | urlToState}}</span>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
            <mat-icon matBadge="{{notifications.length}}" matBadgeColor="accent">notification_important</mat-icon>
          </button>
          <mat-menu #notificationMenu="matMenu">
            <ng-container *ngIf="notifications.length">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between center"
                   style="padding: 0 10px;border: 1px solid #eee;" *ngFor="let notification of notifications">
                <div fxFlex>
                  <p style="font-size: 12px;">{{notification.accessType}} <b>{{notification.accessEntity}}</b> with
                    identifier <b>{{notification.accessEntityId}}</b> requested <b>{{notification.accessLevel}}</b>
                    on {{notification.resourceType}} <b class="truncate">{{notification.resourceTitle}}</b></p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" style="margin-left: 20px;">
                  <button aria-label="Approve" mat-icon-button disableRipple
                          style="width: 20px;height: 20px;line-height: 1;margin-right: 5px;" color="accent"
                          (click)="approveAccessRight($event, notification)">
                    <mat-icon style="font-size: 20px; line-height: 1;">check_circle_outline</mat-icon>
                  </button>
                  <button aria-label="Deny" mat-icon-button disableRipple
                          style="width: 20px;height: 20px;line-height: 1;" color="warn"
                          (click)="denyAccessRight($event, notification)">
                    <mat-icon style="font-size: 20px; line-height: 1;">not_interested</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!notifications.length">
              <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="menuItems">wb_sunny</mat-icon>
                <p style="margin: 10px 10px; font-size: 14px;" class="menuItems">Nothing new to see here! Have a great
                  day!</p>
                <mat-icon class="menuItems">wb_sunny</mat-icon>
              </div>
            </ng-container>
          </mat-menu>
          <button (click)="logOut()" aria-label="Exit" mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
