body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5; }

a {
  color: #00B7FF; }

div.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  div.card-header h3 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #212529; }

div.wrapper {
  padding: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

div.label {
  width: 30%;
  display: inline-block;
  text-transform: capitalize; }

div.value {
  width: 70%;
  display: inline-block;
  margin: 10px 0; }
  div.value p {
    margin: 0; }

/*# sourceMappingURL=style.css.map */