@import "../../variables";


.cardTitles {
  padding: 15px;
  background-color: $primary-color;
  color: white;
  font-weight: lighter;
}


#warningText {
  color: $primary-color;
  font-weight: normal;
}


#startButton {
  color: $primary-color;
}

#deleteButton {
}

:host ::ng-deep {

  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: $primary-color;
  }

  .mat-form-field-label {
    color: $primary-color;
  }

  input {
    color: $primary-color;
    caret-color: $primary-color;
  }

  .mat-focused {
    .mat-form-field-underline, .mat-form-field-ripple {
      background-color: $primary-color;
    }

    .mat-form-field-label {
      color: $primary-color;
    }
  }

  .propertiesHeader {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: $primary-color;
  }

  mat-form-field {
    .mat-form-field-infix {
      width: 400px;
    }
  }

  .mainCardClass {
    margin: 50px 0;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 730px;
  }
}

#groupEdit {
  color: $accent-color;
}

#groupDelete {
  color: #9f0000;
}
