<div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  <!--  <ngx-json-ld [json]="userJSONLD"></ngx-json-ld>-->

  <mat-card class="mainCardClass">
    <mat-card-title class="cardTitles">Account Information</mat-card-title>
    <mat-card-content style="margin: 20px 30px">
      <div fxFlex fxLayout="row" fxLayoutGap="40px">
        <mat-vertical-stepper #stepper [linear]=false fxFlex="60" fxFlexFill style="background: transparent">
          <mat-step [stepControl]="accountForm">
            <form [formGroup]="nameForm">
              <ng-template matStepLabel>Update Company Name</ng-template>
              <mat-form-field style="margin-left: 15px">
                <input formControlName="nameCtrl" matInput placeholder="Company Name">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="emailForm">
            <form [formGroup]="emailForm">
              <ng-template matStepLabel>Update Contact Email</ng-template>
              <mat-form-field style="margin-left: 15px">
                <input formControlName="emailCtrl" matInput placeholder="Email" type="email">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="addressForm">
            <form [formGroup]="addressForm">
              <ng-template matStepLabel>Update Company Web Address</ng-template>
              <mat-form-field style="margin-left: 15px">
                <input formControlName="addressCtrl" matInput name="password" placeholder="Address" type="text">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <form>
              <ng-template matStepLabel>Update Company Certificate</ng-template>
              <div fxLayout="column" fxLayoutAlign="start start" style="margin-left: 15px">
                <div>
                  <td-file-upload #keyFileUpload (cancel)="clearKeyFile()" (select)="onKeyFileChange($event)"
                                  defaultColor="accent"
                                  fxFlex>
                    <mat-icon>file_upload</mat-icon>
                    <span> {{ keyFileUpload.value?.name }}</span>
                    <ng-template td-file-input-label>
                      <mat-icon>attach_file</mat-icon>
                      <span>
                      Choose Certificate
                    </span>
                    </ng-template>
                  </td-file-upload>
                </div>
                <p></p>
              </div>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="idForm">
            <form [formGroup]="idForm">
              <ng-template matStepLabel>VAT ID/TIN Information</ng-template>
              <mat-form-field disabled style="margin-left: 15px">
                <input disabled formControlName="idCtrl" matInput name="id" placeholder="VAT ID/TIN" type="text">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="categoryForm">
            <form [formGroup]="categoryForm">
              <ng-template matStepLabel>Company Catgory Information</ng-template>
              <mat-form-field style="margin-left: 15px">
                <input disabled formControlName="categoryCtrl" matInput name="category" placeholder="Region"
                       type="text">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="regionForm">
            <form [formGroup]="regionForm">
              <ng-template matStepLabel>Company Region Information</ng-template>
              <mat-form-field style="margin-left: 15px">
                <input disabled formControlName="regionCtrl" matInput name="region" placeholder="Region" type="text">
              </mat-form-field>
              <p></p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Save</ng-template>
            <div fxLayout="column" fxLayoutAlign="start start" style="margin-left: 5px">
              <p>You are now done. Click the Save button to update your info.</p>
              <p></p>
              <button (click)="updateAccount()" color="accent" mat-flat-button>
                Save
                <mat-icon id="startIcon">save</mat-icon>
              </button>
              <p></p>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button (click)="stepper.reset()" mat-button>Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
        <div fxFlex="40" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img alt="Icon" src="../../assets/dash-3.png"/>
          </div>
          <div style="margin: 30px">
            <h3 id="warningText">Deleting an account is an irreversible action. You will no longer be able to access and
              use
              DataShareFair without creating a new account.</h3>
          </div>
          <button (click)="deleteAccount()" color="warn" id="deleteButton" mat-flat-button style="margin: 0 30px">
            Delete account
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-title class="cardTitles">Business Groups</mat-card-title>
    <mat-card-content style="margin: 30px 30px;">
      <div fxLayout="column" fxLayoutGap="30px">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let group of groupsData" style="background: rgba(255, 255, 255, 0.4)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{group.group_name}}
              </mat-panel-title>
              <mat-panel-description>
                {{group.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="column">
              <table [dataSource]="group.members" class="mat-elevation-z0" mat-table
                     style="width: 100%; background: transparent">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 30%"> Company Name</th>
                  <td *matCellDef="let element" mat-cell> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="company_id">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 30%"> VAT/TIN ID</th>
                  <td *matCellDef="let element" mat-cell> {{element.company_id}} </td>
                </ng-container>

                <ng-container matColumnDef="region" style="width: 10%">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell> Region</th>
                  <td *matCellDef="let element" mat-cell> {{element.region}} </td>
                </ng-container>

                <ng-container matColumnDef="category">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 20%"> Category</th>
                  <td *matCellDef="let element" mat-cell> {{element.category}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 10%"> Actions</th>
                  <td *matCellDef="let element" mat-cell>
                    <button (click)="updateGroup(group, element, 'delete')" aria-label="Delete" id="groupDelete"
                            mat-icon-button>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
              </table>
              <div fxFlex="start end" fxLayout="row" style="margin-top: 30px">
                <mat-form-field>
                  <mat-label>Add Member By</mat-label>
                  <mat-select [(value)]="searchOption">
                    <mat-option *ngFor="let crit of searchCrit" [value]="crit.value">
                      {{crit.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span fxFlex="5"></span>
                <form [formGroup]="groupForm">
                  <mat-form-field>
                    <input [matAutocomplete]="autoGroup"
                           formControlName="groupCtrl"
                           matInput
                           placeholder="Search String"
                           required
                           type="text">
                    <mat-autocomplete #autoGroup="matAutocomplete">
                      <ng-container *ngIf="searchOption === 'name'">
                        <mat-option *ngFor="let name of memberNamesOptions | async" [value]="name">
                          {{name}}
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="searchOption === 'company_id'">
                        <mat-option *ngFor="let id of memberIDOptions | async" [value]="id">
                          {{id}}
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>
              <div fxFlex="start end" fxLayout="row" style="margin-top: 10px">
                <button (click)="updateGroup(group, '', 'add')" color="accent" mat-stroked-button> Add a new member
                </button>
                <span fxFlex></span>
                <button (click)="deleteGroup(group)" color="warn" mat-stroked-button> Delete this group
                </button>
              </div>
            </div>

          </mat-expansion-panel>

        </mat-accordion>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="width: 100%; height: 30px">
          <button (click)="openDialog()" color="primary" fxFlex mat-raised-button>
            Create a group
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
