<h1 class="modalColorsAccent" mat-dialog-title>Create a new group</h1>
<div fxLayout="column" mat-dialog-content style="width: 100%">
  <p class="modalColors">Please fill in the group name</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [(ngModel)]="data.groupName" matInput>
  </mat-form-field>
  <p class="modalColors">Please fill in a short group description</p>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input [(ngModel)]="data.groupDescription" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>Close</button>
  <button [mat-dialog-close]="data" cdkFocusInitial color="accent" mat-button>Ok</button>
</div>
