@import "../../variables";

.modalColors {
  color: $primary-color;
}

.modalColorsAccent {
  color: $accent-color-text
}

:host .mat-dialog-content {
  max-height: unset !important; // height hack for dialog content
}

.catalogHeaders{
  color: $accent-color-text
}

.propertiesHeader {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: $primary-color;
}
