<h1 class="modalColors" mat-dialog-title>View & Edit Distribution</h1>
<div [formGroup]="distributionFG" fxLayout="column" mat-dialog-content style="width: 100%">
  <p class="catalogHeaders">Distribution Management</p>
  <mat-form-field *ngIf="distributionFG.get('title') as distributonNameFC" appearance="standard">
    <mat-label>Name</mat-label>
    <input [formControl]="distributonNameFC" matInput placeholder="Name">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="distributionFG.get('description') as distributionDescriptionFC" appearance="standard">
    <mat-label>Description</mat-label>
    <input [formControl]="distributionDescriptionFC" matInput placeholder="Please fill in a short description">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field  *ngIf="distributionFG.get('url') as distributionUrlFC" appearance="standard">
    <mat-label>Download URL</mat-label>
    <input [formControl]="distributionUrlFC" matInput placeholder="Please fill in the version">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="distributionFG.get('publisher') as distributionPublisherFC">
      <mat-label>Publisher</mat-label>
      <input [formControl]="distributionPublisherFC" matInput placeholder="Please fill in a publisher">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="distributionFG.get('mediaType') as distributionMTFC" appearance="standard">
      <mat-label>Media Type</mat-label>
      <input [formControl]="distributionMTFC" matInput placeholder="Please fill in the version">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="distributionFG.get('version') as distributionVersionFC" appearance="standard">
      <mat-label>Version</mat-label>
      <input [formControl]="distributionVersionFC" matInput placeholder="Please fill in the version">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="distributionFG.get('language') as distributionLanguageFC" appearance="standard">
      <mat-label>Language</mat-label>
      <mat-select [formControl]="distributionLanguageFC" placeholder="Please choose the language">
        <mat-option *ngFor="let country of countries" [value]="country.alpha2">{{country.English}}</mat-option>
      </mat-select>
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="distributionFG.get('created') as distributionCreatedFC" appearance="standard">
      <mat-label>Created</mat-label>
      <input [formControl]="distributionCreatedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="distributionFG.get('modified') as distributionModifiedFC" appearance="standard">
      <mat-label>Last Modified</mat-label>
      <input [formControl]="distributionModifiedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="distributionFG.get('license') as distributionLicenseFC" appearance="standard">
    <mat-label>License</mat-label>
    <mat-select [formControl]="distributionLicenseFC" placeholder="Please choose the license">
      <mat-option *ngFor="let license of licenses"
                  [value]="license.url">{{license.title || license.name}}</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>

  <dash-access-rights-edit [item]="distributionFG.get('accessRights')"></dash-access-rights-edit>

</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>Close</button>
  <button [disabled]="distributionFG.invalid" [mat-dialog-close]="distributionFG.getRawValue()" cdkFocusInitial color="accent" mat-button>
    Ok
  </button>
</div>
