<h1 [ngClass]="{'modalColors': dataO.data, 'modalColorsAccent': !dataO.data}" mat-dialog-title>
  {{dataO.data ? 'View & Edit Dataset' : 'Create a new dataset'}}
</h1>
<div [formGroup]="datasetFG" fxLayout="column" mat-dialog-content style="width: 100%">
  <p class="catalogHeaders" *ngIf="dataO.data">Dataset Management</p>
  <mat-form-field *ngIf="datasetFG.get('title') as datasetNameFC" appearance="standard">
    <mat-label>Name</mat-label>
    <input [formControl]="datasetNameFC" matInput placeholder="Name">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="datasetFG.get('description') as datasetDescriptionFC" appearance="standard">
    <mat-label>Description</mat-label>
    <input [formControl]="datasetDescriptionFC" matInput placeholder="Please fill in a short description">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container *ngIf="datasetFG.get('publisher') as datasetPublisherFC">
      <mat-form-field fxFlex>
        <mat-label>Publisher</mat-label>
        <input [formControl]="datasetPublisherFC" matInput placeholder="Please fill in a publisher">
        <mat-error>{{requiredErrorMessage}}</mat-error>
      </mat-form-field>
      <span fxFlex="10"></span>
    </ng-container>
    <mat-form-field fxFlex *ngIf="datasetFG.get('catalog') as datasetCatalogFC">
      <mat-label>Catalog</mat-label>
      <ng-container *ngIf="dataO.data">
        <input [formControl]="datasetCatalogFC" matInput placeholder="Please fill in a catalog">
      </ng-container>
      <ng-container *ngIf="!dataO.data">
        <mat-select [formControl]="datasetCatalogFC" placeholder="Please fill in a catalog">
          <mat-option *ngFor="let catalog of dataO.catalogs"
                      [value]="catalog.catalog_id">{{catalog.title}}</mat-option>
        </mat-select>
      </ng-container>
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="datasetFG.get('keywords') as datasetKeywordsFA"
                  [ngClass]="{'mat-form-field-invalid': datasetKeywordsFA.invalid && datasetKeywordsFA.touched}"
                  appearance="standard">
    <mat-label>Keywords</mat-label>
    <mat-chip-list #chipList aria-label="Keywords">
      <mat-chip (removed)="removeKeyword(keywordIndex)"
                *ngFor="let keywordFC of datasetKeywordsFA.controls; let keywordIndex=index"
                [removable]="true"
                [selectable]="true" class="chips">
        {{keywordFC.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input (focus)="datasetKeywordsFA.markAsTouched()"
             (matChipInputTokenEnd)="addKeyword($event)"
             [matChipInputAddOnBlur]="true"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             placeholder="Ex. Law, Engineering...">
    </mat-chip-list>
    <div *ngIf="datasetKeywordsFA.invalid && datasetKeywordsFA.touched" class="mat-error"
         style="font-size: 12px;position: absolute;bottom: -22px;"
    >{{requiredErrorMessage}}</div>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="datasetFG.get('version') as datasetVersionFC" appearance="standard">
      <mat-label>Version</mat-label>
      <input [formControl]="datasetVersionFC" matInput placeholder="Please fill in the version">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="datasetFG.get('language') as datasetLanguageFC" appearance="standard">
      <mat-label>Language</mat-label>
      <mat-select [formControl]="datasetLanguageFC" placeholder="Please choose the language">
        <mat-option *ngFor="let country of countries" [value]="country.alpha2">{{country.English}}</mat-option>
      </mat-select>
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="datasetFG.get('created') as datasetCreatedFC" appearance="standard">
      <mat-label>Created</mat-label>
      <input [formControl]="datasetCreatedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="datasetFG.get('modified') as datasetModifiedFC" appearance="standard">
      <mat-label>Last Modified</mat-label>
      <input [formControl]="datasetModifiedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="datasetFG.get('license') as datasetLicenseFC" appearance="standard">
    <mat-label>License</mat-label>
    <mat-select [formControl]="datasetLicenseFC" placeholder="Please choose the license">
      <mat-option *ngFor="let license of licenses"
                  [value]="license.url">{{license.title || license.name}}</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <dash-themes-form *ngIf="datasetFG.get('categories') as datasetThemeFA"
                    [themesFA]="datasetThemeFA"></dash-themes-form>
  <dash-access-rights-edit *ngIf="datasetFG.get('accessRights') as accessRightsFA"
                           [item]="accessRightsFA"></dash-access-rights-edit>

</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>Close</button>
  <button [disabled]="datasetFG.invalid" [mat-dialog-close]="toAPI()" cdkFocusInitial color="accent"
          mat-button>
    Ok
  </button>
</div>
