<p class="catalogHeaders">Access Rights Management</p>
<div fxLayout="column">
  <table #rightsTable [dataSource]="item.value" class="mat-elevation-z0" mat-table
         style="width: 100%; background: transparent">
    <ng-container matColumnDef="entity">
      <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 40%"> Entity</th>
      <td *matCellDef="let element" mat-cell style="word-wrap: break-word"> {{element.entityName}} </td>
    </ng-container>

    <ng-container matColumnDef="access">
      <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 20%"> Access Level</th>
      <td *matCellDef="let element" mat-cell style="word-wrap: break-word"> {{element.accessLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="status" style="width: 20%">
      <th *matHeaderCellDef class="propertiesHeader" mat-header-cell> Status</th>
      <td style="text-transform: capitalize" *matCellDef="let element" mat-cell> {{element.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 10%"> Actions</th>
      <td *matCellDef="let element; let i=index" mat-cell>
        <button *ngIf="element.entityId !== userData?.resource_id"
          (click)="removeAccess(i)" aria-label="Delete" id="distributionDelete" color="warn"
                mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <div fxFlex fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px" style="margin-top: 30px">
      <mat-form-field fxFlex="40">
        <mat-label>Add Entity By</mat-label>
        <mat-select [(ngModel)]="searchOption">
          <mat-option *ngFor="let crit of searchCrit" [value]="crit.value">
            {{crit.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="accessForm" fxFlex="40">
        <mat-form-field fxFlex>
          <input [matAutocomplete]="autoGroup"
                 formControlName="groupCtrl"
                 matInput
                 placeholder="Search String"
                 required
                 type="text">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-option
              *ngFor="let opt of memberGroupOptions | filterByProperty:accessForm.get('groupCtrl').value:searchOption | filterUsedMemberGroups:item.value:triggerPipeUpdate"
              [value]="opt[searchOption]">{{opt[searchOption]}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <mat-form-field fxFlex="15">
        <mat-label>Access Right</mat-label>
        <mat-select [(ngModel)]="accessOption">
          <mat-option *ngFor="let crit of accessRights" [value]="crit">
            {{crit}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="addNewPolicyMemberComp(); rightsTable.renderRows();" color="accent" mat-stroked-button
              style="position: relative; bottom: 2px;">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="50px" style="margin-top: 10px">

    </div>


  </div>

</div>
