<h1 [ngClass]="{'modalColors': data, 'modalColorsAccent': !data}" class="modalColors" mat-dialog-title>
  {{data ? 'View & Edit Catalog' : 'Create a new catalog'}}
</h1>
<div [formGroup]="catalogFG" fxLayout="column" mat-dialog-content style="width: 100%">
  <p class="catalogHeaders" *ngIf="data">Catalog Management</p>
  <mat-form-field *ngIf="catalogFG.get('title') as catalogNameFC" appearance="standard">
    <mat-label>Name</mat-label>
    <input [formControl]="catalogNameFC" matInput placeholder="Name">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="catalogFG.get('description') as catalogDescriptionFC" appearance="standard">
    <mat-label>Description</mat-label>
    <input [formControl]="catalogDescriptionFC" matInput placeholder="Please fill in a short description">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="catalogFG.get('publisher') as catalogPublisherFC">
    <mat-label>Publisher</mat-label>
    <input [formControl]="catalogPublisherFC" matInput placeholder="Please fill in a publisher">
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex *ngIf="catalogFG.get('version') as catalogVersionFC" appearance="standard">
      <mat-label>Version</mat-label>
      <input [formControl]="catalogVersionFC" matInput placeholder="Please fill in the version">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="catalogFG.get('language') as catalogLanguageFC" appearance="standard">
      <mat-label>Language</mat-label>
      <mat-select [formControl]="catalogLanguageFC" placeholder="Please choose the language">
        <mat-option *ngFor="let country of countries" [value]="country.alpha2">{{country.English}}</mat-option>
      </mat-select>
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="data">
    <mat-form-field fxFlex *ngIf="catalogFG.get('created') as catalogCreatedFC" appearance="standard">
      <mat-label>Created</mat-label>
      <input [formControl]="catalogCreatedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
    <span fxFlex="10"></span>
    <mat-form-field fxFlex *ngIf="catalogFG.get('modified') as catalogModifiedFC" appearance="standard">
      <mat-label>Last Modified</mat-label>
      <input [formControl]="catalogModifiedFC" matInput placeholder="Created">
      <mat-error>{{requiredErrorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="catalogFG.get('license') as catalogLicenseFC" appearance="standard">
    <mat-label>License</mat-label>
    <mat-select [formControl]="catalogLicenseFC" placeholder="Please choose the license">
      <mat-option *ngFor="let license of licenses"
                  [value]="license.url">{{license.title || license.name}}</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <dash-themes-form *ngIf="catalogFG.get('categories') as catalogThemeFA"
                    [themesFA]="catalogThemeFA"></dash-themes-form>

  <dash-access-rights-edit *ngIf="catalogFG.get('accessRights') as accessRightsFA"
                           [item]="accessRightsFA"></dash-access-rights-edit>

</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>Close</button>
  <button [disabled]="catalogFG.invalid" [mat-dialog-close]="toAPI()" cdkFocusInitial color="accent"
          mat-button>
    Ok
  </button>
</div>
