<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card id="mainCard">
    <mat-card-title class="cardTitles">Catalog & Dataset Management</mat-card-title>
    <mat-card-content style="margin-top: 20px">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let catalog of catalogs" (afterExpand)="catalogPanelExpanded(catalog)" class="mat-elevation-z0 catalogExp">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="start center">{{catalog.title}}</mat-panel-title>
            <mat-panel-description>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-chip-list aria-label="Dataset owners">
                  <mat-chip color="primary" *ngFor="let accessRight of catalog.accessRights.slice(0, 5)" selected>
                    <mat-icon *ngIf="accessRight.accessLevel === 'Control'">perm_identity</mat-icon>
                    <mat-icon *ngIf="accessRight.accessLevel !== 'Control'">supervisor_account</mat-icon>
                    {{accessRight.entityName}}</mat-chip>
                </mat-chip-list>
              </div>
              <button mat-flat-button (click)="$event.stopPropagation(); editCatalog(catalog)" aria-label="Edit" id="editCat" color="accent">
                Edit <mat-icon>edit</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="catalog-subtitle">Datasets</div>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let dataset of datasets" (afterExpand)="datasetPanelExpanded(dataset)" class="datasetExp">
              <mat-expansion-panel-header>
                <mat-panel-title fxLayoutAlign="start center">{{dataset.title}}</mat-panel-title>
                <mat-panel-description>
                  <mat-chip-list aria-label="Dataset owners">
                    <mat-chip color="accent" *ngFor="let accessRight of dataset.accessRights.slice(0, 5)" selected>
                      <mat-icon *ngIf="accessRight.accessLevel === 'Control'">perm_identity</mat-icon>
                      <mat-icon *ngIf="accessRight.accessLevel !== 'Control'">supervisor_account</mat-icon>
                      {{accessRight.entityName}}</mat-chip>
                  </mat-chip-list>
                </mat-panel-description>
                <button mat-flat-button (click)="$event.stopPropagation(); editDataset(catalog, dataset)" aria-label="Edit" id="editDat" color="primary"> Edit <mat-icon>edit</mat-icon>
                </button>
              </mat-expansion-panel-header>
              <table [dataSource]="distributions" class="mat-elevation-z0" mat-table
                     style="width: 100%; background: transparent">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 35%"> Name</th>
                  <td *matCellDef="let element" mat-cell style="word-wrap: break-word"> {{element.title}} </td>
                </ng-container>

                Weight Column
                <ng-container matColumnDef="url">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 40%"> Download URL</th>
                  <td *matCellDef="let element" mat-cell style="word-wrap: break-word"> {{element.url}} </td>
                </ng-container>

                <ng-container matColumnDef="mediaType" style="width: 15%">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell> Media Type</th>
                  <td *matCellDef="let element" mat-cell> {{element.mediaType}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                  <th *matHeaderCellDef class="propertiesHeader" mat-header-cell style="width: 10%"> Actions</th>
                  <td *matCellDef="let element" mat-cell>
                    <button (click)="editDistribution(element)" aria-label="Edit" id="editDistribution" color="accent"
                            mat-icon-button>
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteDistribution(element)" aria-label="Delete" id="distributionDelete" color="warn"
                            mat-icon-button>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
              </table>

<!--              <dash-distribution-tab [item]="distributions"></dash-distribution-tab>-->
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
