@import "../../variables";

#mainCard {
  margin: 50px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
}

.cardTitles {
  padding: 15px;
  background-color: $primary-color;
  color: white;
  font-weight: lighter;
}

.catalog-subtitle {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $accent-color-text;
}


.catalogExp {
  background-color: rgba(255, 255, 255, 0.6);

  //mat-expansion-panel:not(.mat-expanded) mat-expansion-panel-header:hover:not([aria-disabled=true]){
  //  background: rgba(33, 130, 188, 0.1) !important;
  //}

}

.datasetExp{
  background-color: rgba(255, 255, 255, 0.4);;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

td {
  padding: 20px;
}
