extends layout

block content
  div.card-header
    h3 FAIR metadata
  div.wrapper
    each val in fairValues
      div
        div.label
          if val[0].includes('#')
            a(href=val[0])=val[0].substring(val[0].lastIndexOf('#') + 1)
          else
            a(href=val[0])=val[0].substring(val[0].lastIndexOf('/') + 1)
        div.value
          if Array.isArray(val[1])
            each arrVal in val[1]
              a(href=arrVal)=arrVal
          else if val[1].startsWith('http')
            a(href=val[1])=val[1]
          else
            p=val[1]
