@import "../../variables";

#mainCard {
  margin: 50px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
}

.cardTitles {
  padding: 15px;
  background-color: $primary-color;
  color: white;
  font-weight: lighter;
}

.search-bar {
  min-width: 150px;
  width: 100%;
  margin-top: 40px !important;
  margin-bottom: 50px;
  padding: 0 115px 0 50px;
}

.example-full-width {
  width: 100%;
}

#searchButton {
  margin-right: 10px;
}

.example-chip-list {
  width: 100%;
}

.chips {
  color: $primary-color;
  background-color: rgba(255, 255, 255, 0.8);
}

.example-card {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  width: 75%;
  margin-left: 20px;

  //.header-class-filter {
  //  //color: $primary-color;
  //  mat-card-title {
  //    font-size: 14px;
  //  }
  //}

  .filter-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    color: #222;
  }

  mat-checkbox {
    font-size: 13px;
    color: #222;
  }
}

.example-margin {
  margin-bottom: 10px;
  margin-top: 10px;
  color: $primary-color;
}

#chipInput {
  color: $primary-color;
}

.dataset-card {
  max-width: 310px;
  margin-bottom: 40px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.83);
  }
}

mat-checkbox ::ng-deep{
  .mat-checkbox-label{
    overflow-wrap: break-word
  }
}

