<mat-expansion-panel (afterCollapse)="collapsedItem.emit()" [expanded]="expanded" class="newsfeed-card"
                     fxLayout="column"
>
  <mat-expansion-panel-header>
    <mat-panel-title fxLayout="row" fxLayoutAlign="start center" id="newsHeader">
      {{item.title}}
    </mat-panel-title>
    <mat-panel-description fxLayout="row" fxLayoutAlign="start center">
      {{item.keywords}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="descriptionF">
    <div fxLayout="row" fxLayoutGap="40px">
      <div fxFlex="50">
        <h3 class="propertiesHeader">Properties</h3>
        <div *ngFor="let key of item | objectKeys" class="itemProperties" id="properties">
          <p *ngIf="!filteredProperties.includes(key)">
            <b><span id="propertyKey">{{key}}:</span></b>
            <link-if-needed [propertyValue]="item[key]"></link-if-needed>
          </p>
        </div>
      </div>
      <div fxFlex="50">
        <h3 class="propertiesHeader">Description</h3>
        <p class="feedDescription">
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
  <dash-distribution-tab [item]="item.distributions"></dash-distribution-tab>
</mat-expansion-panel>
