@import "../../variables";

.modalColors {
  color: $primary-color;
}

.modalColorsAccent {
  color: $accent-color-text
}

:host .mat-dialog-content {
  max-height: unset !important; // height hack for dialog content
}
