<div class="distributions" *ngIf="item.length" xLayout="column" fxLayoutGap="40px">
  <h3 class="propertiesHeader">Available Distributions</h3>
  <mat-tab-group>
    <ng-container *ngFor="let distribution of item">
      <mat-tab label="{{distribution.title}}">
        <div class="myDist">
          <div *ngFor="let key of distribution | objectKeys" class="itemProperties">
            <p *ngIf="!['accessRights', 'user_access'].includes(key)">
              <b><span id="propertyKey2">{{key}}:</span></b>
              <link-if-needed [propertyValue]="distribution[key]"></link-if-needed>
            </p>
          </div>
          <button (click)="downloadDistribution(distribution)" *ngIf="user && checkAccess(distribution)"
                  class="distButton"
                  color="primary"
                  mat-raised-button type="submit">
            Download
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button (click)="requestDistributionAccess(distribution)" *ngIf="user && !checkAccess(distribution)"
                  class="distButton" color="accent" mat-raised-button
                  type="submit">
            Request Access
            <mat-icon>supervisor_account</mat-icon>
          </button>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>

</div>
