<h1 class="modalColorsAccent" mat-dialog-title>Request Access to Distribution</h1>
<div [formGroup]="accessFG" fxLayout="column" mat-dialog-content style="width: 100%">
  <mat-form-field *ngIf="accessFG.get('accessType') as accessType" appearance="standard">
    <mat-label>Entity Type</mat-label>
    <mat-select [formControl]="accessType" placeholder="Please choose the type of entity you request access for">
      <mat-option value="Group">Group</mat-option>
      <mat-option value="User">User</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="accessFG.get('accessByField') as accessByField" appearance="standard">
    <mat-label>Entity Identifier</mat-label>
    <mat-select [formControl]="accessByField" placeholder="Please choose a filter for identity" [disabled]="!accessFG.get('accessType').value">
      <mat-option value="company_id" *ngIf="accessFG.get('accessType').value === 'User'">VAT/TIN_ID</mat-option>
      <mat-option value="group_id" *ngIf="accessFG.get('accessType').value === 'Group'">Group ID</mat-option>
      <mat-option value="name">Name</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="accessFG.get('entityId') as entityId" appearance="standard">
    <mat-label>Entity</mat-label>
    <mat-select [formControl]="entityId" placeholder="Please choose the entity you request access for" [disabled]="!accessFG.get('accessType').value || !accessFG.get('accessByField').value">
      <ng-container *ngIf="accessFG.get('accessByField').value === 'company_id'">
        <mat-option *ngFor="let user of userGroupsData.user"
                    [value]="user.resource_id">{{user.company_id}}</mat-option>
      </ng-container>
      <ng-container *ngIf="accessFG.get('accessByField').value === 'group_id'">
        <mat-option *ngFor="let group of userGroupsData.groups"
                    [value]="group.resource_id">{{group.group_id}}</mat-option>
      </ng-container>
      <ng-container *ngIf="accessFG.get('accessByField').value === 'name' && accessFG.get('accessType').value === 'Group'">
        <mat-option *ngFor="let group of userGroupsData.groups"
                    [value]="group.resource_id">{{group.group_name}}</mat-option>
      </ng-container>
      <ng-container *ngIf="accessFG.get('accessByField').value === 'name' && accessFG.get('accessType').value === 'User'">
        <mat-option *ngFor="let user of userGroupsData.user"
                    [value]="user.resource_id">{{user.name}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="accessFG.get('accessLevel') as accessLevel" appearance="standard">
    <mat-label>Access Level</mat-label>
    <mat-select [formControl]="accessLevel" placeholder="Please choose the type of entity you request access for">
      <mat-option value="Read">Read</mat-option>
      <mat-option value="Write">Write</mat-option>
      <mat-option value="Control">Control</mat-option>
    </mat-select>
    <mat-error>{{requiredErrorMessage}}</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>Close</button>
  <button [disabled]="accessFG.invalid" [mat-dialog-close]="accessFG.value" cdkFocusInitial color="accent" mat-button>Ok</button>
</div>
