<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card id="mainCard">
    <!--    <mat-card-title class="cardTitles">Marketplace Overview</mat-card-title>-->
    <mat-card-content>
      <div class="search-bar" fxLayout="row" fxLayoutAlign="center center">
        <button (click)="filterResults()" color="primary" id="searchButton" mat-icon-button type="submit">
          <mat-icon id="startIcon">search</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
          <mat-label>Search by keywords and title</mat-label>
          <mat-chip-list #chipList aria-label="Keywords search">
            <mat-chip (removed)="remove({chip : keyword})" *ngFor="let keyword of keywords" [removable]="removable"
                      [selectable]="selectable" class="chips">
              {{keyword.name}}
              <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (matChipInputTokenEnd)="add($event)" [matChipInputAddOnBlur]="addOnBlur"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   id="chipInput"
                   placeholder="Ex. Law, Engineering...">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" style="margin-right: 50px;">
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start">
          <div class="example-card mat-elevation-z1" fxLayout="column" fxLayoutGap="40px">
            <div>
              <div class="filter-title">Catalog</div>
              <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox (change)="filterEntries()" *ngFor="let catalog of Catalogs"
                              [(ngModel)]="catalog.checked">{{catalog.show}}</mat-checkbox>
              </div>
            </div>
            <div>
              <div class="filter-title">Category</div>
              <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox (change)="filterEntries()" *ngFor="let category of Categories"
                              [(ngModel)]="category.checked">{{category.show}}</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="start center">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px"
               style="width: 100%;box-sizing: border-box;">
            <ng-container *ngFor="let item of marketPlaceItems">
              <mat-card (click)="selectNewItem(item)" *ngIf="selectedItem !== item" class="dataset-card">
                <mat-card-header>
                  <mat-icon color="primary" mat-card-avatar style="font-size: 40px;">assignment</mat-icon>
                  <mat-card-title>
                    {{item.title}}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{item.keywords.join(', ')}}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <dash-dataset-item (collapsedItem)="itemCollapsed()" *ngIf="selectedItem === item" [expanded]="true"
                                 [item]="selectedItem"
                                 style="width: 100%;"></dash-dataset-item>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
