@import "../../variables";

:host {
  width: 100%;
}


#newsHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $primary-color;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background-color: transparent;
}

.itemProperties {
  color: $primary-color;
  text-align: justify;
}

.feedDescription {
  color: $primary-color;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  text-align: justify;
  line-height: 1.5;
}

.propertiesHeader {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: $primary-color;
}

#propertyKey, #propertyKey2 {
  color: $accent-color;
  text-transform: capitalize;
}

.distributions {
  padding-left: 40px;
  padding-right: 40px;
}
