@import "../../variables";

:host {
  width: 100%;
}

.newsfeed-card {
  //min-width: 350px;
  //min-height: 530px;
  background-color: rgba(255, 255, 255, 0.83);
  margin-bottom: 30px;

  mat-card-header {
    min-height: 50px;
    min-width: 200px;
  }

  .descriptionF {
    padding-left: 40px;
    padding-right: 40px;
  }

  .distributions {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#newsHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $primary-color;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background-color: transparent;
}

.itemProperties {
  color: $primary-color;
  text-align: justify;
}

.feedDescription {
  color: $primary-color;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  text-align: justify;
  line-height: 1.5;
}

.propertiesHeader {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: $primary-color;
}

#propertyKey, #propertyKey2 {
  color: $accent-color;
  text-transform: capitalize;
}
